{# empty Twig template #}
{% extends "base.html.twig" %} 
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %} 
{% block title %} {{ parent() }} A propos {% endblock %}       

{% block contenu %} 
   
    <center> 
    
    <div class="wrapper" style="text-align: center">
        <br /><br />
        <h1 style="color: #2056ac">A propos</h1>
        
        <br/><br/>

        <p>Mensarum enim voragines et varias voluptatum inlecebras, ne longius progrediar, praetermitto illuc transiturus quod quidam per ampla spatia urbis subversasque silices sine periculi metu properantes equos velut publicos signatis quod dicitur calceis agitant, familiarium agmina tamquam praedatorios globos post terga trahentes ne Sannione quidem, ut ait comicus, domi relicto. quos imitatae matronae complures opertis capitibus et basternis per latera civitatis cuncta discurrunt.</p>
        

    </div>
    </center>
    
{% endblock %}