<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come
        *after* these tags -->
        <meta name="author" content="">
        <title> {% block title %} Projet PPE1 - {% endblock %}</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />
        <link href="images/fav.ico" rel="icon" /> <!-- Cette ligne c'est pour le logo dans la barre de navigation du navigateur -->
        <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
        {% block style %} {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav style="background-color: #2056ac;">
                <div id="logo" style="text-align: center">
                    <span class="icon icon-cog"></span>
                    <h1><a href="">Projet PPE1</a></h1>
                </div>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <center>
                        <ul id="menu" class="nav navbar-nav">
                            <li><a href="index.php">Accueil</a></li>
                                {%if session.login is defined %}
                                    {%if session.role == 1 %}
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" ariahaspopup="
                                           true" aria-expanded="false">Administration</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="index.php?page=ajoutlanguages">Ajout Languages</a></li>
                                            <li><a class="dropdown-item" href="index.php?page=logsadmin">Connexions des utilisateurs</a></li>
                                            <li><a class="dropdown-item" href="index.php?page=stats&annee={{ "now"|date("Y") }}&mois={{ "now"|date("m") }}&jour={{ "now"|date("j") }}">Statistiques</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endif %}
                            <li><a href="index.php?page=apropos">À propos</a></li>
                            <li><a href="index.php?page=mentions">Mentions légales</a></li>
                            <li><a href="index.php?page=contact">Contact</a></li>
                                {%if session.login is defined %}
                                <li><a href="index.php?page=moncompte&email={{session.login}}">Mon compte</a></li>
                                <li><a href="index.php?page=deconnexion">Se déconnecter</a></li>
                                {% else %} 
                                <li><a href="index.php?page=connexion">Se connecter</a></li>
                                {% endif %}
                        </ul>
                        <form class="navbar-form navbar-right" action="index.php?page=recherche" method="post"
                  enctype="application/x-www-form-urlencoded">
                            <input id="inputRecherche" name="inputRecherche" class="form-control mr-sm-2" type="search" placeholder="Rechercher" arialabel="Rechercher">
                            <button class="btn btn-outline-success my-2 my-sm-0" id="btRecherche" name="btRecherche" type="submit">OK</button>
                        </form>
                </div> <!-- Ici on ne sait pas pourquoi ça se met en rouge dans le code source parce que la balise est bien fermée ! -->
            </nav>


            {% block contenu %}
            {% endblock %}
            <div id="copyright">
                <p>&copy; Projet PPE1. Tous droits réservés. | Photos par <a href="http://fotogrph.com/">Fotogrph</a> | Modèle par <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
                <ul class="contact">
                    <li><a href="" class="icon icon-facebook"><span>Facebook</span></a></li>
                    <li><a href="" class="icon icon-twitter"><span>Twitter</span></a></li>
                    <li><a href="" class="icon icon-instagram"><span>Instagram</span></a></li>
                    <li><a href="" class="icon icon-github"><span>GitHub</span></a></li>
                </ul>
            </div>
        {% endblock %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>