{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Mot de passe oublié {% endblock %}

{% block contenu %}

        <div class="wrapper" style="text-align: center">
            
             <br /><br />
        <h1 style="color: #2056ac">Un email a été envoyé</h1>
        <br/>
        <h2 style="color: #2056ac">Merci de vérifier vos mails (SPAMS) et de cliquer sur le bouton de validation de compte</h2>
        

            
            
        </div>
        <br/><br/><br/>

{% endblock %}    