{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Se connecter {% endblock %}

{% block contenu %}

    {% if form.valide is defined %}
        {% if form.valide == true %}
            <div class="wrapper" style="text-align: center">
            <h1 class="h3 mb-3 font-weight-normal">Connexion réussie</h1>
            <h1 class="h3 mb-3 font-weight-normal">Voici votre identifiant : {{form.email}}</h1>
            </div>
            {% if form.role == 1 %}
                <div class="wrapper" style="text-align: center">
                <h1 class="h3 mb-3 font-weight-normal">Vous êtes administrateur du site</h1>
                </div>
            {% else %}
                <div class="wrapper" style="text-align: center">
                <h1 class="h3 mb-3 font-weight-normal">Vous êtes un développeur du site </h1>
                </div>
            {% endif %}
        {% else %}
            <div class="wrapper" style="text-align: center">
            <h1 class="h3 mb-3 font-weight-normal">Echec de la connexion</h1>
            <h1 class="h3 mb-3 font-weight-normal">Erreur : {{form.message}}</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=connexion">Retourner sur
                    la page de connexion</a></h1>
            </div>
                {% endif %}

    {% else %} 
        <div class="wrapper" style="text-align: center">

            <form class="form-signin" action="index.php?page=connexion" method="post"
                  enctype="application/x-www-form-urlencoded">            
                <h6 class="h6 mb-3 font-weight-normal"> </h6>
                <img src="https://pbs.twimg.com/profile_images/1024649812988387328/QWQbqff7_400x400.jpg" class="image-ronde">
                <h6 class="h6 mb-3 font-weight-normal"> </h6>


                <label for="inputEmail" class="sr-only">Email:</label>  
                <input type="email" id="inputEmail" name="inputEmail" class="form-control"
                       placeholder="Email" required autofocus>

                <label for="inputPassword" class="sr-only">Mot de passe:</label> 
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>  
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btConnecter">Se connecter</button>
                <h4 class="h4 mb-3 font-weight-normal">Pas encore inscrit ? <a href="index.php?page=inscrire">S'inscrire</a> </h4>
                <a href="index.php?page=mdpoublie">Mot de passe oublié ?</a>
            </form>
            
        </div>
        <br/><br/><br/>

        


    {% endif %}
{% endblock %}    